.dashboard {
  background-color: #A8C1D8;
}

.nav-bar { 
  margin-top: 0px; 
  margin-right: 0;
  position: relative;  
  line-height: 64px;
  background-color: #fff;
  padding: 8px;
  height: 72px;
  box-shadow: 0 2px 4px #333;
}

.button-icon {
  opacity: 0.2;  
  outline-style: none;
}

#home-nav {
  margin-right: 16px;
  margin-left: 16px;
  height: 52px;
}

.img-icon {
    width: 48px;
    height: 48px;
    display: inline;
}

.nav-tags {
  display: inline;
  margin-left: 8px;
}

.nav-tag {
  display: inline;
  margin-right: 16px;
  cursor: pointer;
  font-size: 36px;
  color: #343A40;
}

#recentGamesTag {
  text-decoration: underline;
  text-decoration-color: #E75A7C;
}

#publicGamesTag, #createNewGameTag {
  font-size: 24px;
}

.user-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline;
}

.user-action {
  position: relative;
  margin-right: 16px;
  width: 28px;
  height: 28px;
  display: inline;
}
.user-action:hover {
  cursor: pointer;
}

.search-bar {
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid black;
  width: 130px;
}

.notification-blip {
  height: 10px;
  width: 10px;
  position: absolute;
  display: inline;
  border-radius: 50%;
  background-color: tomato;
  bottom: 4px;
  right: 0px;
}

.nav-tag-divs {
  position: relative;
  padding: 36px;
  margin: 16px;
}

.blur-div {
  z-index: 98;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
}

.game-card {
  font-size: 1em;
  padding: 16px;
  margin: 36px;
  margin-bottom: 12px;
  margin-top: 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 4px #333;
  height: 100%;
  transition-property: margin;
  transition-duration: 1s;
}

.title {
  font-size: 36px;
  color: black;
}

.timeline {
  position: fixed;
  opacity: 0;
  height: 85vh;
  width: 3px;
  border-radius: 8px;
  background-color: black;
  right: 24px;
  top: 80px;
  transition-property: opacity;
  transition-duration: 1s;
}

hr {
  width: 80vw;
}

.timeline-blip {
  position: absolute;
  opacity: 0;
  top: 96px;
  right: 10px;
  height: 31px;
  width: 31px;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.story-div {
  height: 140px;
  transition-property: height;
  transition-duration: 0.5s;
}

.card-title {
  text-align: center;
  width: 0;
  white-space: nowrap;
  transition-property: width;
  transition-duration: 0.5s;
}

.createGameOption {
  margin: 24px 36px;
  white-space: nowrap;
}

#lengthOptions {
  margin-left: 8px;
}

.alert {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 12px 12px;
}


