<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Builder App</title>
    <link rel="stylesheet" href="public-stories-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand&family=Raleway&family=Sofia&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <header>
        <div class="title">
          <h1>Quillty</h1>
          <h4> ~ Manifesting your story and fantasy ~</h4>
        </div>
      </header>

      <section class = "profile">
        <aside class = "features">
          <button><a href = "#" target = "_self"> Browse </a></button><br>
          <button><a href = "#" target = "_self"> Play with Friends </a></button>
        </aside>

        <div class = "profile-selection">
          <div class = "options">
               <label class = "profile">Profile Picture</label>
               <input id="image" type="file" accept="image/*" name="profile_photo" placeholder="Photo" required="" capture>
          </div>
          <div class="options">
               <!-- <button type = "submit"><a href = "#" target = "_self"> Your Story </a></button> -->
               <a href = "#" target = "_self"> Your Story / Dashboard </a>
          </div>
          <div class="options">
               <!-- <button type = "submit"><a href = "#" target = "_self"> Account </a></button> -->
               <a href = "#" target = "_self"> Account </a>
          </div>
          <div class="options">
               <!-- <button type = "submit"><a href = "#" target = "_self"> Notification </a></button> -->
               <a href = "#" target = "_self"> Notification </a>
          </div>
          <div class="options">
               <!-- <button type = "submit"><a href = "#" target = "_self"> Settings </a></button> -->
               <a href = "#" target = "_self"> Settings </a>
          </div>
          <div class="options">
               <!-- <button type = "submit"><a href = "#" target = "_self"> Help </a></button> -->
               <a href = "#" target = "_self"> Help </a>
          </div>
        </div>
        <button type = "submit"> Sign Out </button>
      </section>
    </main>
  </body>
</html>
