.story-wrapper {
    /*Div that holds each GameCard screen*/
    position: static;
    background-color:#A8C1D8;
    transition-property: all;
    transition-duration: 2s;
    display: block;
    
}

.story-nav {
    position: absolute;
    height: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: #A8C1D8;
    line-height: 64px;
}

.story-nav-tag {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    margin-left: 36px;
} 
.story-nav-tag:hover {
    cursor: pointer;
}

.back-arrow {
    float: left;
    margin-top: 24px;
    margin-left: 36px;
    height: 30px;
    width: 30px;
}
.back-arrow:hover {
    cursor: pointer;
}

.add-to-story-button {
    opacity: 0;
    position: fixed;
    right: 116px;
    bottom: 64px;
}

.hidden-button-div {
    position: absolute;
    text-align: left;
    right: 130px;
    bottom: 66px;
    height: 60px;
    width: 0;
    border-radius: 36px;
    padding: 8px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #E75A7C;
    color: #fff;
    transition-property: all;
    transition-duration: 0.4s;
}

.add-to-story-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 75vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px #333;
}

.textarea {
    margin: 24px auto;
    font-family: sans-serif;
    resize: none;
    border-radius: 8px;
    border: 2px solid #343A40;
    padding: 8px;
}

.preview-text {
    color: grey;
}
